<html>
  <head>
    <title>head.job</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    Hey, this is index page
    <h1>Loop it! | Server Start time : <%=head.date%></h1>
    <h1>Loop it! | Server Start time : <%=head.date%></h1>
    <h1>Loop it! | text : <%=head.text%></h1>
    <h1>Loop it! | class : <%=head.class%></h1>

    <ul>
        <% for(var attributename in body){ %>
            <li>
                <%= body[attributename] %>
            </li>
        <% } %>
    </ul>

  </body>
</html>